<div class="container">
  <br><br>
  <h2>Get in touch - "logicisaliar"</h2>
  <h4>The basic idea behind this is to punctuate chunks of text as there is no consistency in the way people do data entries.</h4>
  <h5>Powered by Ashraj Industries, Mumbai, India</h5>
  <br><br>
  <div class="row">
    <div class="home">
      <h1 class="text-centered">STRINGER</h1>
      <br>
      <br>
      <%= link_to "New string", new_phrase_path, class: "btn btn-lg btn-success btn-block"  %>
    </div>
  </div>
  <br><br>
  <% @phrases.each do |p| %>
  <div class="row">
    <%= p.new_string %>
  </div>
  <% end %>
</div>

