<br>
<br>
<br>


<div class="container">
  <div class="row">
    <strong>New String:</strong> <%= @phrase.new_string %>
    <br>
  </div>
  <br>
  <br>
  <%= link_to "New string", new_phrase_path, class: "btn btn-lg btn-success btn-block"  %>
  <br>

  <%= link_to "Go to home", root_path, class: "btn btn-lg btn-success btn-block"  %>
</div>
